body {
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0px;
}

.text {
    text-align: center;
}

.selection {
    font-size: 2em;
}

#computerSelection {
    margin-bottom: 15px;
}

#roundResult {
    margin: 25px 0px;
    font-size: 3em;
    font-weight: bold;
}

#score {
    font-size: 2em;
}

button {
    margin-top: 50px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 50px;
    background-color: white;
    background-size: 100% 100%;
}

button:hover {
    transform: scale(1.5);
}

.buttonsPlayer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

#rockBtn {
    background-image: url(https://www.pinclipart.com/picdir/big/559-5590543_rock-paper-scissors-png-clipart.png);
}

#paperBtn {
    background-image: url(https://www.pinclipart.com/picdir/big/51-511523_rock-paper-rock-paper-scissors-clipart-png-download.png);
}

#scissorsBtn {
    background-image: url(https://www.vhv.rs/dpng/f/535-5357819_rock-paper-scissors-png.png);
}

#resetBtn {
    font-size: 2em;
    padding: 10px 40px;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-self: center;
}